/* Estilo para a seção de contato */
.contact {
  padding: 2rem;
  background-color: #ffffff;
}

.titleContact {
  text-align: center;
  margin: 30px 30px;
  color: #333;
  font-family: "Arvo", "Times New Roman", Times, serif;
  font-weight: 600
}

.contact-container {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  width: 80%;
}

.contact-form {
  width: 50%;
  padding: 1rem;
  border-radius: 8px;
}

.contact-form h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

button {
  padding: 0.75rem 1.5rem;
  background-color: #ca970b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

button:hover {
  background-color: #96710d;
}

.contact-intro {
  width: 45%;
  padding: 1rem;
  border-radius: 8px;
}

.contact-intro h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.contact-intro p {
  text-align: justify;
  font-size: 1rem;
  color: #666;
}

@media (max-width: 950px) {
  .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contact-form {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
  }
  .contact-intro {
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
  }
}
