<nav class="navbar navbar-expand-lg bg-body-tertiary" style="padding: 40px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/header/dolar.png" alt="Logo">
      <h4>MyAccount</h4>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Adicione a classe ms-auto aqui para alinhar os links à direita -->
      <ul class="navbar-nav ms-auto d-flex gap-3">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Serviços</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Novidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
        <button type="button" class="btn btn-primary position-relative">
          Faça Parte
          <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
            <span class="visually-hidden">New alerts</span>
          </span>
        </button>
      </ul>
    </div>
  </div>
</nav>
