<section class="features">
  <h1>Ajuda de Investimento</h1>
  <br>
  <p>Gerenciando capital para instituições e investidores privados em todo o mundo. Deixe que profissionais de investimento ajudem você.</p>
  <div class="cards">
    <div class="itens-card">
      <img src="assets/features/grafico-de-barras.png" alt="Gestão de Patrimônio">
      <h5>Gestão de Patrimônio</h5>
      <p>Gestão de patrimônio é a capacidade de um consultor ou equipe de consultoria de fornecer uma gama completa de serviços e produtos financeiros a um cliente rico de forma consultiva.</p>
    </div>

    <div class="itens-card">
      <img src="assets/features/jovem-com-gravata.png" alt="Ações, Títulos & Fundos Mútuos">
      <h5>Ações & Fundos Mútuos</h5>
      <p>Embora as ações sejam tipicamente investimentos de maior risco devido à volatilidade do mercado, elas oferecem retornos potencialmente altos. Deixe-nos ajudá-lo a gerenciar seu portfólio e oferecer aconselhamento financeiro.</p>
    </div>

    <div class="itens-card">
      <img src="assets/features/seguranca-na-web.png" alt="Seguros & Anuidades">
      <h5>Seguros & Anuidades</h5>
      <p>Oferecemos uma variedade de soluções de prestadores de serviços financeiros líderes, para que você tenha muitas opções ao decidir que tipo de anuidade é a certa para você.</p>
    </div>

    <div class="itens-card">
      <img src="assets/features/mala-de-viagem.png" alt="Poupança para Aposentadoria & Faculdade">
      <h5>Poupança para Aposentadoria & Faculdade</h5>
      <p>Encontrar um equilíbrio com seu dinheiro é uma parte crucial das finanças pessoais. Economizar para a aposentadoria não precisa ser mutuamente exclusivo de economizar para a faculdade.</p>
    </div>

    <div class="itens-card">
      <img src="assets/features/quadro-grafico.png" alt="Proprietários de Empresas">
      <h5>Proprietários de Empresas</h5>
      <p>Você precisa de um plano financeiro — um que aborde as necessidades financeiras para cada estágio do ciclo de vida de sua empresa e leve em conta seus objetivos e sonhos financeiros pessoais.</p>
    </div>

    <div class="itens-card">
      <img src="assets/features/bolsa-de-dinheiro.png" alt="Dinheiro & Crédito">
      <h5>Dinheiro & Crédito</h5>
      <p>Você pode escolher entre nosso conjunto abrangente de programas de contas gerenciadas, que são projetados para vários níveis de experiência e sofisticação de investimento.</p>
    </div>
  </div>

</section>
