
.features{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 6vw 10vw;
}

.features p {
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ajusta o espaço entre os itens */
  gap: 20px; /* Espaçamento entre os itens */
  margin-bottom: 50px;
}

.itens-card {
  flex: 1 1 calc(33.333% - 20px); /* Cada item ocupará um terço da largura, com margem */
  box-sizing: border-box; /* Inclui padding e border no cálculo de largura */
  padding: 20px;
  border: solid 1px gray;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.itens-card h5{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.3rem;
  cursor: pointer;
}

.itens-card h5:hover{
  color: #ca970b;
}

.itens-card p{
  color: rgb(62, 61, 61);
  text-align: justify;
}

.itens-card img{
  width: 50px;
}

/* Responsividade */
@media (max-width: 768px) {
  .itens-card {
    min-width: 400px;
    flex: 1 1 calc(50% - 20px); /* Em telas menores, dois itens por linha */
  }
}

@media (max-width: 480px) {
  .features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 12vw 5vw;
  }

  .itens-card {
    min-width: 300px;
    flex: 1 1 100%; /* Em telas pequenas, um item por linha */
  }
}
