<section class="main-home" data-aos="fade-in">
  <div class="main-home-title" data-aos="fade-up">

    <div class="subtiltle">
      <div class="separator"></div>
      <h4>20 anos no mercado de ações</h4>
      <div class="separator"></div>
    </div>

    <h1>Gerencie seus investimentos de maneira Fácil e Eficiente</h1>

    <button>
      Saiba Mais
      <i class="bi bi-arrow-right-short"></i>
    </button>
  </div>
</section>

<app-services></app-services>

<app-mission></app-mission>

<app-clients-choose></app-clients-choose>

<app-features></app-features>

<app-testimones></app-testimones>

<app-contact></app-contact>
