<section class="clients-choose" data-aos="fade-in">
  <div class="left" data-aos="fade-up-left">
    <h1>Por que os clientes nos escolhem</h1>

    <ul>
      <li>
        <img src="assets/client-choose/profissional.png" alt="Profissionais Qualificados">
        <div class="description">
          <h5>Profissionais Competentes</h5>
          <small>Trabalhamos em uma atmosfera de confiança e camaradagem, onde os parceiros ajudam uns aos outros.</small>
        </div>
      </li>
      <li>
        <img src="assets/client-choose/superior.png" alt="Serviço Superior">
        <div class="description">
          <h5>Serviço Superior</h5>
          <small>Estamos comprometidos em fornecer aos clientes o melhor valor e serviço do setor.</small>
        </div>
      </li>
      <li>
        <img src="assets/client-choose/wallet.png" alt="Serviço Superior">
        <div class="description">
          <h5>Preços Competitivos</h5>
          <small>Fornecendo valor por meio de comissões diretas e serviços adicionais.</small>
        </div>
      </li>
    </ul>

    <button (click)="openDialog()">
      Faça o Teste
      <i class="bi bi-caret-right-fill"></i>
    </button>
  </div>

  <div class="right" data-aos="fade-up-right">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/client-choose/uso1.png" class="d-block w-100" alt="Uso do sistema 1">
        </div>
        <div class="carousel-item">
          <img src="assets/client-choose/uso2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/client-choose/uso3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/client-choose/uso4.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="use-cases">
      <div class="title">
        <img src="assets/client-choose/icon-quote.png" alt="">
        <h4>Sistema de Gestão Financeira: Imagens de Uso e Funcionalidades</h4>
      </div>
      <p style="color: gray;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita eaque eum sapiente itaque quia obcaecati quasi commodi dolor harum, dolore quas aliquid omnis minima pariatur sint nam perspiciatis officia exercitationem.</p>
    </div>
  </div>
</section>
