<section class="services">
  <h1>Nossos Serviços</h1>
  <div class="cards">

    <div class="service-card">
      <div class="card-content">
        <span class="icon"><i class="bi bi-eye-fill"></i></span>
        <h5>Pesquisa de mercado</h5>
        <small>Avaliação da viabilidade, estabilidade e lucratividade de um negócio, subnegócio ou projeto.</small>
      </div>
    </div>

    <div class="service-card">
      <div class="card-content">
        <span class="icon"><i class="fa-regular fa-handshake"></i></span>
        <h5>Gestão de Investimentos</h5>
        <small>Nossos Serviços de Gestão de Investimentos ajudam você a atender às suas necessidades financeiras à medida que elas crescem e mudam.</small>
      </div>
    </div>

    <div class="service-card">
      <div class="card-content">
        <span class="icon"><i class="fa-solid fa-users"></i></span>
        <h5>Vendas e Negociação</h5>
        <small>Este serviço oferece uma variedade de benefícios para impulsionar suas vendas e se adequar à renda fixa da sua empresa.</small>
      </div>
    </div>

  </div>

</section>
